/* selettore per tag  */

@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");

div {
  background-color: blueviolet;
  height: 100px;
  width: 100px;
}

/* selettore per id  */

#pippo {
  background-color: aquamarine;
  font-family: "Barlow Condensed", sans-serif;
}

/* selettore per classe */

.pluto {
  background-color: brown;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  background-color: blue;
  width: 100vw;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

div p {
  /* selettore di p dentro div */
}

div > p {
  /* primi figli di p  */
}

div + p {
  /* il p adiacente a divi e div  */
}

div * {
  /* tutti i figli di div  */
}
